<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- Add your CSS and JavaScript links here -->
    <link rel="stylesheet" href="path/to/your/css/styles.css">
</head>
<body>
    <header>
        <!-- Add your header content here -->

    </header>

    <main>
        <!-- Content from child templates will be inserted here -->
        <div class="container-fluid">
        {% block content %}
        {% endblock %}
    </div>
    </main>



    <!-- Add your JavaScript files here -->
    <script src="path/to/your/js/script.js"></script>
</body>
</html>
